@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Licorice&family=Montserrat:wght@100;400&family=Moo+Lah+Lah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Montserrat:wght@100;400&family=Moo+Lah+Lah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Kanit:wght@200&family=Licorice&family=Montserrat:wght@100;400&family=Moo+Lah+Lah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Kanit:wght@200&family=Licorice&family=Montserrat:wght@100;400&family=Moo+Lah+Lah&family=Yanone+Kaffeesatz:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

.one {
    background-image: url(imgm/head.jpg);
    background-position: 45px -5px;
    background-repeat: initial;
    background-color: darkkhaki;

}

.one p {
    padding: 57px 320px;
    font-size: 68px;
    font-family: 'Bakbak One', cursive;
    font-family: 'Licorice', cursive;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Moo Lah Lah', cursive; */
    color: #25c9b2;
    margin-left: -288px;
}

.two {
    background-color: black;
    padding-left: 30px;
    display: flex;
    justify-content: flex-start;
}

.two ul {
    list-style-type: none;
    color: aquamarine;
    padding: 20px 65px;
    margin-left: 352px;
}

.two ul li {
    display: inline;
    margin: 0px 9px;
    border: none;
    font-size: 19px;
    font-family: 'Kanit', sans-serif;
}

.two ul li a {
    color: black;
    /* border: 2px #f7f2f2 solid; */
    border-radius: 40px;
    padding: 10px;
    background-color: white;
    text-decoration: none;
}

.two ul li a:hover {
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}

.six {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    color: chocolate;
    ;
    font-size: 50px;

    font-family: 'Montserrat', sans-serif;

    text-align: center;
    padding: 65px;
    background-image: url('imgm/puz.jpg');
}

.six img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-top: 33px;
    margin-right: 232px;
}

.six p {
    display: flex;
    background-color: #c7b9b9;
    /* text-align: center; */
    padding: 65px;
    color: black;
    background-position: 0px -162px;
    background-repeat: no-repeat;
    width: 881px;
    

}

.six .name{
    background-color:darkgray;
    text-align: end;

}

.six .name img{
    width: 84px;
    height: 84px;
    margin: 10px 7px;
}

.name p{
    background-color: blue;
    color: cadetblue;

}

.container {
    display: flex;
    background-color: red;
    height: 397px;
}

#main {
    width: 30%;
    height: auto;
    background-color: blueviolet;
    animation: try 5s ease-in 1s 1 alternate forwards;

}

@keyframes try {
    from {
        width: 5%;
    }

    to {
        width: 100%;
    }
}

#main h1 {
    justify-content: center;
    padding: 29px;
    font-family: 'Montserrat';
}

#main p {
    padding: 75px;
    font-family: system-ui;
}


#sidebar {
    width: 70%;
}

#sidebar h1 {
    justify-content: center;
    padding: 29px 440px;
    font-family: 'Montserrat';
}

#sidebar p {
    padding: 62px;
    font-family: system-ui;

}

.container1 {
    display: flex;
    box-sizing: border-box;
}

#main1 {
    background-color: yellow;
    padding: 142px;
}

#sidebar1 {
    background-color: green;
}


#sidebar1 h2 {
    text-align: center;
    margin: 35px;
}


#sidebar1 p {
    padding: 35px;
    margin-top: 33px;
    font-family: system-ui;

}



#sidebar2 {
    background-color: grey;
    animation: try1 5s ease-in 1s 1 alternate forwards;

}

@keyframes try1 {
    from {
        width: 5%;
    }

    to {
        width: 100%;
    }
}

#sidebar2 h2 {
    text-align: center;
    margin: 35px;
}

#sidebar2 p {
    padding: 35px;
    margin-top: 33px;
    font-family:system-ui;
   
}

#sidebar3 {
    background-color: pink;
    margin-top: -35px;
}

#sidebar3 h2 {
    text-align: center;
    padding-top: 78px;
}

#sidebar3 p {
    padding: 35px;
    margin-top: 33px;
    font-family:system-ui;
}

.last{
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 20px;
}