* {
    margin: 0;
    padding: 0;
}

body {
    background-image:url(img/hand.jpg);
    background-position: 0px -213px;
    background-repeat: no-repeat;
   }


.one {
    background-color: black;
    color: white;
    list-style: none;
    display: flex;
    padding: 10px 0;
   
   
}

.one li a {
    margin: 0 10px;
    text-decoration: none;
    font-size: large;
    color: white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;

}
.one li a:hover{
    color: rgb(187, 98, 98);
}

h1{
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    color: #403c3cf2;
    font-family: 'Cinzel', serif;
   
}

.flexc{
    display: flex;
    box-sizing: border-box;
}

.two{
    background-color: #80808099;
    height: 145px;
    margin-left: 16px;
    
}

.three{
    background-color:#000000c2;
    height: 145px;
    margin-right: 16px;
    
}

.two p{
    padding: 47px;
}

.three p{
    padding: 47px;
    color: white;
}

.flex1{
display: flex;
background-color: black;
}

.flex1 img {
    height: 41px;
    width: 210px;
    margin-left:892px;
    margin-top: 4px;
}

.four{
    background-color: red;
    margin-top: 10px;
    display: flex;
    margin-left: 16px;
    margin-right: 16px;
}
    


.four p{
    background-color: #75af56f5;
    padding: 158px;
    background-image: url('img/eduardo-soares-QsYXYSwV3NU-unsplash.jpg');
    background-position: center top;
}

#form {
    padding: 81px;
    background-image: url(img/colorful_background_7-wallpaper-1920x1080.jpg);
    /* background-repeat: round; */
    background-position: 1321px 584px;
    background-repeat: no-at;
}


#form h2 {
    text-align: center;
    margin-bottom: 44px;
    font-family: 'Staatliches', cursive;
}

.four #form label{
    margin-left: -60px;
    font-family: 'Cinzel';
}

input[type=text]{
    margin: 7px -64px;
    width: 276px;
    height: 34px;
    border-radius: 10px;
}



input[type=password]{
    margin: 7px -64px;
    width: 276px;
    height: 34px;
    border-radius: 10px;

}

.four #form button{
    padding: 11px;
    margin-left: 9px;
    width: 119px;
    font-family: monospace;
    border-radius: 21px;
    background-color: black;
    color: white;
}

.four #form button:hover{
    background-color: green;
}