body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;

}

.top {
    background: black;
    color: white;

    padding: 45px;
    text-align:right;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-style: bold;
    background-image: url('/Image/Head.jpeg.jpg');
}

.descp {
    background: coral;
    color: black;
    margin-top: 0;
    padding-left:40px;
   padding: 20px 0;
    text-decoration:underline;
    font-family: 'Bakbak One', cursive;
    background-image: url('/Image/robo.jpg');
   
    background-position: 80px 0;

}

.menu {
    padding:0;
    border: 5px black solid;
    list-style:none;
    margin-bottom: 40px;
    background-color: black;
    
}

.menu li{
    display:inline;
}

.menu a{
    color: white;
    text-decoration: none;
    padding-right: 15px;
}





.block {
    border: 1px solid black;
    padding-left: 50px;
    width: 220px;
    padding-left: 59px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin: auto;
    margin-top: -12px;
    border-radius: 30px;
    background-color: goldenrod
}

.input{
    font-family: 'Bakbak One', cursive;
    font-family: 'Montserrat', sans-serif;
}
.extra{
    font-family: 'Montserrat';
    color: blanchedalmond;
}

.button{
    background-color: grey;
    color: white;
    border:none;
    margin-top: 21px;
    margin-left: 46px;

}